<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<Fragment>
		<?define PublishDir = "$(var.SolutionDir)Publish\" ?>
		<?define ExeName = "axink.exe" ?>
		<!-- 레지스트리 정보 (앱에서 설치 경로 조회용) -->
		<ComponentGroup Id="RegistryComponents" Directory="INSTALLFOLDER">
			<Component Id="RegistryEntries" Guid="*">
				<RegistryKey Root="HKCU" Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)">
					<RegistryValue Name="InstallPath" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes" />
					<RegistryValue Name="Version" Type="string" Value="!(bind.fileVersion.MainExeFile)" />
				</RegistryKey>
				<RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
				<RemoveFolder Id="RemoveManufacturerFolder" Directory="ManufacturerFolder" On="uninstall" />
			</Component>
		</ComponentGroup>

		<!-- 바로가기 -->
		<ComponentGroup Id="ShortcutComponents">
			<!-- 시작 메뉴 바로가기 -->
			<Component Id="StartMenuShortcut" Directory="ApplicationMenuFolder" Guid="*">
				<Shortcut Id="StartMenuShortcutLink"
                          Name="!(bind.Property.ProductName)"
                          Description="!(bind.Property.ProductName) 실행"
                          Target="[INSTALLFOLDER]$(ExeName)"
                          WorkingDirectory="INSTALLFOLDER"
                          Icon="ProductIcon" />

				<Shortcut Id="UninstallShortcut"
                          Name="!(bind.Property.ProductName) 제거"
                          Description="!(bind.Property.ProductName) 제거"
                          Target="[SystemFolder]msiexec.exe"
                          Arguments="/x [ProductCode]" />

				<RemoveFolder Id="RemoveApplicationMenuFolder" On="uninstall" />

				<RegistryValue Root="HKCU"
                               Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)"
                               Name="StartMenuShortcut"
                               Type="integer"
                               Value="1"
                               KeyPath="yes" />
			</Component>

			<!-- 바탕화면 바로가기 -->
			<Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="*">
				<Shortcut Id="DesktopShortcutLink"
                          Name="!(bind.Property.ProductName)"
                          Description="!(bind.Property.ProductName) 실행"
                          Target="[INSTALLFOLDER]$(ExeName)"
                          WorkingDirectory="INSTALLFOLDER"
                          Icon="ProductIcon" />

				<RegistryValue Root="HKCU"
                               Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)"
                               Name="DesktopShortcut"
                               Type="integer"
                               Value="1"
                               KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
